<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.treksoft.kvision.templatecordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TemplateCordova</name>
    <description>
        A sample KVision + Apache Cordova application.
    </description>
    <content src="index.html" />
    <hook src="cordova/before_emulate.js" type="before_emulate" />
    <hook src="cordova/after_emulate.js" type="after_emulate" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <preference name="loadUrlTimeoutValue" value="700000" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <queries>
                <intent>
                    <action android:name="android.media.action.IMAGE_CAPTURE" />
                </intent>
                <intent>
                    <action android:name="android.intent.action.GET_CONTENT" />
                </intent>
                <intent>
                    <action android:name="android.intent.action.PICK" />
                </intent>
            </queries>
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <allow-navigation href="http://10.0.2.2:3000/*" />
</widget>
