.mobile-emulate {
    width: 375px;
    height: 667px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: solid 1px black;
}

.text-input--material:focus {
    background-image: linear-gradient(#1e88e5,#1e88e5),linear-gradient(0deg,transparent 1px,#afafaf 0) !important;
}

.text-input--material__label--active {
    color: #1e88e5 !important;
}

ons-splitter-side[animation=overlay] {
  border-left: 1px solid #bbb;
}

.page--material .toolbar--white-content__center,
.page--material .toolbar-button--white-content,
.page--material :checked + .tabbar--white-content__button {
  color: white;
}

.page--material .tabbar--white-content__button {
  color: rgba(255, 255, 255, 0.7);
}

.page--material .tabbar--white-content__border {
  background-color: white;
}

.page--material__background.page--white__background {
  background-color: #fff;
}

.profile-pic {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #DDD;
  color: rgba(0, 0, 0, .56);
  padding-bottom: 8px;
}

.page--material .profile-pic {
  background-color: #f6f6f6;
}

.profile-pic > img {
  display: block;
  max-width: 100%;
}

.camera {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.focus {
  width: 100px;
  height: 100px;
  border: 12px solid whitesmoke;
  border-radius: 100%;
}

.intro {
  text-align: left;
  padding: 0 22px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(0, 0, 0, .54);
}

ons-card {
  cursor: pointer;
  color: #333;
}

.pull-hook-spinner {
  color: #666;
  transition: transform .25s ease-in-out;
}

.pull-hook-progress {
  background-color: white;
  width: 32px;
  height: 32px;
  margin: 30px auto 0;
  border-radius: 100%;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: inline-block;
  line-height: 0px;
}

.pull-hook-progress .progress-circular {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.pull-hook-progress .progress-circular__primary {
  transition: stroke-dashoffset 0s;
}

.dialogs ons-list-title {
  margin-top: 20px;
}

.lorem-dialog .dialog-container {
  height: 200px;
}

.button-margin {
  margin: 6px 3px 6px 0px !important;
}

.carousel-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.color-tag {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.dots {
  text-align: center;
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.dots > span {
  cursor: pointer;
}

.after-list {
  margin: 20px;
  text-align: center;
}

.right-icon {
  margin-left: 10px;
}

.right-label {
  color: #666;
}
